extends layout

block content
	h1 Welcome to Cards
	p(class="welcome-text") Practicing with cards will improve your knowledge of javascript methods
	a(href='https://thawing-retreat-12983.herokuapp.com/start')
		img.welcome-image(src="https://www.berkeleypubliclibrary.org/sites/default/files/images/featured/1200px-unofficial_javascript_logo_2.svg_.png?slideshow=true&slideshowAuto=false&slideshowSpeed=4000&speed=350&transition=fade" alt="Javascript Logo" width="250")
