doctype html
html
	head
		title Cards
		link(rel='stylesheet', href='/static/css/main.css')
		script(src="https://code.jquery.com/jquery-3.1.0.js")
		script(type="text/javascript" src="static/cards.js")
		script(type="text/javascript" src="static/users.js")
	body
		nav(class="nav-bar")
			ul
				li: a(href="/") Welcome
				li: a(href="/start") Start
				li: a(href="/new-card") Add A new Card
				li: a(href="/summary") Summary
				li: a(href="/login") Log In
				li: a(href="/sign-up" id='sign-up') Sign up

		block content
		footer(class="footer")
			p Copyright Nick Foden &copy; 2017	
