doctype html
html
	head
		title Cards
	body
		nav
			ul
				li Welcome
				li Start
				li Add A new Card
				li Summary
				li Log In
				li Sign up

		block content
		footer
			p Copyright &copy; 2017			