doctype html
html
	head
		title Cards
		link(rel='stylesheet', href='/static/css/main.css')
		script(src="https://code.jquery.com/jquery-3.1.0.js")
	body
		nav(class="nav-bar")
			ul
				li Welcome
				li Start
				li Add A new Card
				li Summary
				li Log In
				li(id='sign-up') Sign up

		block content
		footer
			p Copyright &copy; 2017	
