doctype html
html
	head
		title Cards

		meta(name="viewport" content="width=device-width, initial-scale=1.0") 
		link(rel="shortcut icon" href='/static/css/favicon.ico')
		link(rel='stylesheet' href='/static/css/main.css')
		script(src="https://code.jquery.com/jquery-3.1.0.js")
		script(type="text/javascript" src="static/cards.js")
		script(type="text/javascript" src="static/users.js")
		script(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
	body
		nav(class="nav-bar")
			ul
				li: a(href="/" id='cards-title-nav') CARDS
				li: a(href="/start") Start
				if user
					li: a(href="/new-card") Add A New Card
				li: a(href="/summary") Summary
				if user
					li(id='sign-up'): a(href="/logout") Log out
				else
					li: a(href="/login") Log In
					li(id='sign-up'): a(href="/sign-up") Sign up
		div(id="message")
		div(class="container")
			block content
	footer(class="footer")
		h4: a(href="http://nickis.online/" target="_blank") Nick Foden &copy; 2017	
