extends layout

block content
	div(class="logout-container")
		h2 Log out
		form(id="logout-form" method="post" action="/users/logout")
			button(type="submit" value="Submit" id="logout-submit") Log Out