extends layout

block content
	h1 Create a New Card
	form(id="new-card-form")
		div(class="new-card-row")
			label: h3(class="form-label" for="question") Question:
			input(class="form-input new-card" type="text" placeholder="js method" id="question" required)
		div(class="new-card-row")
			label: h3(class="form-label" for="answer") Answer:
			input(class="form-input new-card" type="text" placeholder="short answer" id="answer" required)
		div(class="new-card-row")
			label: h3(class="form-label" for="answer") Reference:
			input(class="form-input new-card" type="text" placeholder="link to reference" id="reference" required)
		button(type="submit" value="submit" id="new-card-submit") Submit	