extends layout

block content
	h2 Sign Up and Create Your Own Cards
	form(id="new-user-form")
		div(class="row")
			label(class="form-label" for="user") Email
			input(class="form-input" type="email" placeholder="user email" name="username" id="username" required)
		div(class="row")
			label(class="form-label" for="password") Password
			input(class="form-input" type="password" placeholder="password" name="password" id="password" required)
		button(type="submit" value="Submit" id="sign-up-submit") Sign Up		