extends layout

block content
	div(class="summary-container")
		p(class="summary-title") Click Summary for an Index of Cards
		button(id="summary-button") Summary
		h2(class="summary-list hidden") All of the Cards
			div(class="cards-summary hidden")
				
