extends layout

block content
	div(class="summary-container")
		p(class="summary-title") Summary of all current cards
		button(id="summary-button") Javascript Cards
		h4(class="summary-list hidden") Current Javascript Methods
		br
		div(class="cards-summary hidden")
			if user
				script - sessionStorage.setItem('user', 'true')