extends layout

block content
	div(class="summary-container")
		p(class="summary-title") Click Summary for an Index of Cards
		button(id="summary-button") Summary
		h3(class="summary-list hidden") All of the Cards
		br
		div(class="cards-summary hidden")
			if user
				script - sessionStorage.setItem('user', 'true')